.App {
  text-align: center;
}

* {
  @apply font-roboto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-date-picker input {
  @apply rounded-md py-1 px-4 border-[2px] border-gray-400 w-full;
}

/* TimePicker Input Style */
.time-picker-input {
  padding: 12px 16px;
  border-radius: 8px;
  border: 2px solid #d1d5db;
  background-color: #ffffff;
  font-size: 16px;
  width: 100%;
  transition: border-color 0.2s ease-in-out;
}

.time-picker-input:focus {
  border-color: #403f93;
}

/* Time Picker Icon */
.time-picker-icon {
  position: absolute;
  right: 16px;
  top: 12px;
  color: #403f93;
  font-size: 18px;
  pointer-events: none;
}

input[type="time"] {
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 2px solid #d1d5db;
}

input[type="time"]:focus {
  border-color: #403f93;
}
